<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">

<h:head>
<title>Cadastro de jogador</title>
</h:head>
<h:body>
	<h:form>
	<h:panelGrid colunm="2">
		<h:outputLabel value="Nome do jogador:"/>
		<h:inputText value="#{CadastroPlayerController.nomeJogador}" />
		<h:outputLabel value="Sobrenome" />
		<h:inputText value="#{CadastroPlayerController.sobrenomeJogador}"/>
		<h:outputLabel value="Idade" />
		<h:inputText value="#{CadastroPlayerController.idadeJogador}"/>
		<h:commandButton value="Cadastrar"/> 
	</h:panelGrid>
	<p>Meu nome é: #{CadastroPlayerController.nomeJogador} #{CadastroPlayerController.sobrenomeJogador}</p>
	<p>Idade: #{CadastroPlayerController.idadeJogador}</p>
	</h:form>
</h:body>
</html>